<div class="card" style="padding-bottom: 35px;padding-top: 10px;margin: auto; background:none; border:none; color: rgb(255, 255, 255); width: 80%;">
    <h2>Academic Studies</h2>
    <hr/>
    <div>
        <div class="card-body"  *ngFor="let edu of miEducation">
            <div class="col-lg-1"></div>
            <div class="col-lg-11" style="width: 100%; color: black;">
                <table class="table" class="card" >
                    <tr >
                        <div class="card-header">
                            <h5 class="card-title">{{edu.titulo}}</h5>
                        </div>
                    </tr>
                    <tr>
                        <td class="col-lg-8">
                            <p class="card-text"><b>Institute:</b> {{edu.institucion}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-8">
                            <p class="card-text"><b>Description:</b> {{edu.descripcion}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-lg-8">
                            <p class="card-text"><b>Period:</b> {{edu.periodo}}</p>
                        </td>
                    </tr>
                    
                </table>

            </div>

        </div>
    </div>

</div>