<header>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Valentin Sigaudo</a>
            <div >
              <button class="btn btn-dark me-md-2" type="button"><a class="nav-link active" style="color:grey" href="https://portfoliovs.netlify.app" aria-current="page">Español</a></button>
              <button class="btn btn-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"aria-controls="offcanvasDarkNavbar"type="button"><span class="navbar-toggler-icon"></span></button>
            </div>
          </div>
  
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
              <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu Bar</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"aria-current="page" href="#habilidades">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"aria-current="page" href="#proyectoss">Proyects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" target="_blank" href="https://drive.google.com/file/d/1J2zCFvbp1rs3dLL_bPpup1s-49zdzu3v/view?usp=sharing">Curriculum Vitae</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" target="_blank" href="https://github.com/Catul0">Github</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Contact
                </a> 
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="https://www.instagram.com/vale.sigaudo" target="_blank">Instagram</a></li>
                  <li><a class="dropdown-item" href="https://www.linkedin.com/in/valesigaudo/" target="_blank">linked In</a></li>
                  <li><a class="dropdown-item" href="https://mail.google.com/mail/u/0/#inbox?compose=DmwnWtDtZTzpcqBJJNQHqzMttXFbMddRDgQsFfpchkRLGMxbRlVQScjBHLhpPkvWGBvPKlsZXBHl" target="_blank">E-mail</a></li>
                </ul>
              </li>
            </ul>
          </div>
          </div>
    </nav>
  </header>
  