<div class="card"
    style="padding-bottom: 35px;padding-top: 10px;margin: auto; background: none; border: none; color: rgb(255, 255, 255); width: 80%;">
    <h2>Work Experience</h2>
    <hr />
    <div class="card-body" style="color:black" *ngFor="let Experiencia of experiencia">
        <div class="col-lg-11" style="width: 100%;">
            <table class="table" style="background: white ;" class="card">
                <tr>
                    <div class="card-header">
                        <h3 class="card-title">{{Experiencia.nombreExperiencia}}</h3>
                    </div>
                </tr>
                <tr>
                <tr>
                    <td class="col-lg-8">
                        <p class="card-text"> {{Experiencia.descripcionExperiencia}}</p>
                    </td>
                </tr>
                <tr>
                    <td class="col-lg-8">
                        <p class="card-text"> {{Experiencia.periodoExperiencia}}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>