<div class="card"
    style="padding-bottom: 35px;padding-top: 10px;  background: none; border: none;  color: rgb(255, 255, 255);margin: auto; width: 80%;"
    id="proyectoss">
    <h2>Proyectos</h2>
    <hr/>
    <div class="row row-cols-1 row-cols-md-2 g-4 text-center"
        style="margin-right: 10px;margin-left:10px;margin-top: 20px;">
            <div
                style="margin-top: 20px;"
                *ngFor="let proyect of proyectos"
            >
            <div class="col" >
                <div class="card" >
                    <img 
                        [src]="proyect.photo" 
                        style="width:auto;height: 350px; object-fit: cover; " 
                        class="card-img-top" alt="..."
                    >
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="color: rgb(0, 0, 0);">
                            <h5 class="card-title">{{proyect.nombreProyecto}}</h5>
                            <li class="list-group-item">{{proyect.descripcionProyecto}}</li>
                            <li class="list-group-item">{{proyect.periodoProyecto}}</li>
                        </ul>
                    </div>
                    <a 
                        [href]="proyect.linkProyecto" 
                        target="_blank'"
                        class="btn btn-primary" 
                        style="background-color: rgb(108,117,125); border-color: rgb(108,117,125);"
                    > 
                        Link Referido 
                    </a>
                </div>
            </div>
        </div>
        
    </div>
</div>