<div id="habilidades" class="card"
    style="padding-bottom: 35px;padding-top: 10px;margin: auto; background:none; border: none; color: rgb(255, 255, 255); width: 80%;">
    <h2>Skills</h2>
    <hr />
    <div class="row" style="margin-left: 10px;margin-right:10px;margin-bottom: 15px;">
        <div class="col-sm-4 col-md-4 col-lg-4" *ngFor="let habilidad of habilidades">
            <div class="card " style="margin-top: 10px;">
                <div class="card-header" style="color: rgb(0, 0, 0);">
                    <h5 class="card-title">{{habilidad.titulo}}</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{habilidad.texto}}</li>
                        <li [ngStyle]="{'background-color':obtenerColor(habilidad)}" class="list-group-item">
                            Nivel: {{habilidad.nivel}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>